
.game_left_status{
	margin-right: 10pt;
}

table.game_table{
  margin-left: auto;
  margin-right: auto;
}

table.game_table, table.game_table tr, table.game_table tr td {
  border: thin solid black;
  border-collapse: collapse;
  table-layout: fixed;
  overflow: hidden;
}

table.game_table tr td {
  text-align: end;
}

td.game_protected {
  border: medium solid black !important;
}

td.game_hill {
    background-color: black;
}
td.game_occupied {
    color: white;
}
td.game_occupied_by_0 {
    background-color: #A50000;
}
td.game_occupied_by_1 {
    background-color: #00A6A6;
}
td.game_occupied_by_2 {
    background-color: gray;
}
td.game_occupied_by_3 {
    background-color: #5300A6;
}
td.game_occupied_by_4 {
	background-color: #9000A6;
}
td.game_occupied_by_5 {
    background-color: #A67D00;
}
td.game_occupied_by_6 {
    background-color: #002AA6;
}
td.game_occupied_by_7 {
    background-color: yellow;
	color: black;
}
td.game_occupied_by_8 {
    background-color: #A6007D;
}
td.game_occupied_by_9 {
    background-color: #16A600;
}
td.game_occupied_by_10 {
    background-color: #A63D00;
}
td.game_occupied_by_11 {
    background-color: #0069A6;
}
td.game_occupied_by_12 {
    background-color: #93A600;
}
td.game_occupied_by_13 {
    background-color: #1300A6;
}
td.game_occupied_by_14 {
    background-color: #00A667;
}
td.game_occupied_by_15 {
    background-color: #A60040;
}

.game_team_0 {
    color: #A50000;
}
.game_team_1 {
    color: #00A6A6;
}
.game_team_2 {
    color: gray;
}
.game_team_3 {
    color: #5300A6;
}
.game_team_4 {
	color: #9000A6;
}
.game_team_5 {
    color: #A67D00;
}
.game_team_6 {
    color: #002AA6;
}
.game_team_7 {
    color: yellow;
	background-color: black;
}
.game_team_8 {
    color: #A6007D;
}
.game_team_9 {
    color: #16A600;
}
.game_team_10 {
    color: #A63D00;
}
.game_team_11 {
    color: #0069A6;
}
.game_team_12 {
    color: #93A600;
}
.game_team_13 {
    color: #1300A6;
}
.game_team_14 {
    color: #00A667;
}
.game_team_15 {
    color: #A60040;
}

.game_tab {
    display: none;
}
.game_tab:target {
    display: block;
}

table.game_table tr td a, table.game_table tr td a:hover, table.game_table tr td a:visited, table.game_table tr td a:active {
    display:block;
    text-decoration:none;
    color: inherit;
    text-decoration: none;
}

#game_main div, #game_main table {
	float: left;
}

.game_up_status p {
	float: left;
	width: 170pt;
}
